# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Ignore variables files containing sensitive information
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Lock file
.terraform.lock.hcl
